<div fxFlex fxLayout="column" fxLayoutGap="10px" style="height:100vh">
    <mat-toolbar color="primary">
        <span>OpenWeatherMap Client</span>
    </mat-toolbar>

    <div class="container" fxLayoutAlign="center center">
        <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <input class="autocomplete" type="search" id="address-input" placeholder="Please enter city" />
            <button mat-raised-button color="primary" fxLayoutAlign="center center" (click)="getForecast()">Get Forecast</button>
        </div>
    </div>

    <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-card *ngFor="let weather of weatherForecast" class="weather-forecast" fxLayout="column"
            fxLayoutAlign="center center">
            <mat-card-header>
                <mat-card-title>{{ weather.date }}</mat-card-title>
            </mat-card-header>

            <mat-card-content fxLayout="column" fxLayoutAlign="center center">

                <img src="http://openweathermap.org/img/w/{{ weather.icon}}.png" />
                <div>
                    <p>Min: {{ weather.min }} &deg;</p>
                    <p>Max: {{ weather.max }} &deg;</p>
                </div>
            </mat-card-content>

        </mat-card>
    </div>

</div>
